<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demo05.Properties.Settings.FactoryConnectionString" connectionString="Data Source=115.75.223.40,6868;Initial Catalog=Factory;Persist Security Info=True;User ID=sa;Password=no123" providerName="System.Data.SqlClient"/>
        <add name="demo05.Properties.Settings.ScadaConnectionString" connectionString="Data Source=LAPTOP-3LFIVKDM;Initial Catalog=Scada;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="demo05.Properties.Settings.ScadaConnectionString1" connectionString="Data Source=LAPTOP-3LFIVKDM;Initial Catalog=Scada;User ID=sa;Password=no123" providerName="System.Data.SqlClient"/>
        <add name="demo05.Properties.Settings.iLD2023ConnectionString" connectionString="Data Source=LAPTOP-3LFIVKDM;Initial Catalog=iLD2023;User ID=sa;Password=no123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
